<div class="row">
  <div class="col">
    <input type="text" [(ngModel)]="newSpeaker.userName" placeholder="User Name">
  </div>
  <div class="col">
    <input type="text" [(ngModel)]="newSpeaker.email" placeholder="Email">
  </div>
  <div class="col">
    <input type="text" [(ngModel)]="newSpeaker.password" placeholder="Password">
  </div>
<div class="row">
  <div class="col">
    <select [(ngModel)]="newSpeaker.role">
      <option value="INSTRUCTOR">Instructor</option>
      <option value="STUDENT">Student</option>
    </select>
  </div>
  <div class="col">
    <input type="file" (input)="onFileChange($event)">
  </div>

  <div class="col">
    <button class="btn btn-primary" (click)="add()">Add</button>
  </div>


</div>

</div>
